<?xml version="1.0" encoding="UTF-8" ?>
<!
DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
 >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>CRUD</title>
</head>
<body>
	<div class = "container mt-4">
	<a th:href="@{/new}" class="btn btn-primary">Novo</a>
		<table class = "table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMES</th>
					<th>TELEFONE</th>
					<th>AÇÃO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa:${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td>
					<a th:href="@{/editar/} + ${pessoa.id}" class="btn btn-warning">Editar</a>
					<a th:href="@{/deletar/} + ${pessoa.id}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>